<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
    <div class="absolute_center">
        <img src="https://i.gifer.com/ZZ5H.gif"/>
        <p>the loading time depends on the size of your watch history so please BE PATIENT</p>
    </div>
  </body>
  
  <script>
    $(document).ready(function() {
      var refresh_id = setInterval(function() {
          $.get(
            "{{ url_for('thread_status') }}",
            function(data) { 
              if (data.status == 'finished') {
                window.location.replace("/result");
              }
            }
          )}
        , 1000);
    });
  </script>
</html>